body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  background-color: #3c3a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  width: 100%;
}

.logo {
  width: 77px;
  height: 24px;
  display: flex;
  font-family: sans-serif, "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  padding-top: 13px;
  margin-left: 15px;
}

.primary-nav {
  display: none;
}

.supporting-text {
  display: flex;
  flex-direction: column;
}

.image {
  padding-top: 18px;
  margin-right: 15px;
}

.menu-navigation {
  padding-left: 40px;
  padding-right: 40px;
}

.headline {
  background: #1c1a19;
  background-image: url(images/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 110%;
  padding: 0 1.2rem 6rem 1.2rem;
}

.menu-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  max-height: 0;
  background: #3c3a39;
  padding: 0;
}

.expand {
  display: block;
  max-height: 100%;
}

.close {
  margin: 30px;
  display: flex;
  justify-content: end;
}

.menu-links {
  font-family: "Inter", sans-serif;
  color: #fff5e1;
}

.menu-item {
  font-size: 35px;
  font-style: normal;
  font-weight: 700px;
  font-family: 'inter', sans-serif;
  padding: 10px 0;
  border-bottom: 1px solid #6f6c6b;
}

.greeting {
  font-family: sans-serif, "Round";
  font-size: 50px;
  font-weight: 400px;
  color: #ff6b00;
  padding-top: 10px;
  width: 320px;
  margin-bottom: 0;
  margin-top: 120px;
}

.introduction-text {
  width: 359px;
  height: 27px;
  font-family: sans-serif, "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  margin-bottom: 0;
}

.description {
  width: 290px;
  height: 123px;
  text-align: left;
  font-family: sans-serif, "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
  color: #fff;
}

ul {
  list-style: none;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 0;
  width: 200px;
  height: 40px;
  list-style: none;
}

.desktop-links {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

/* work-section */
.container {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
}

.recent-work-container {
  height: 3755px;
  background-color: #fff;
}

.first-project-container {
  display: grid;
  justify-content: center;
}

.recent-work {
  display: flex;
  flex-direction: column;
}

.recent-text {
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  margin: 6rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.line {
  width: 279px;
  border: 1px solid #212121;
}

.orange-image {
  display: flex;
  justify-content: center;
  width: 279px;
  height: 207px;
}

.desktop-orange-image {
  display: none;
}

h4 {
  color: #091e42;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  line-height: 44px;
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  width: 280px;
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 0.6rem 0.7rem;
}

.recent-work-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  width: 124px;
  height: 50px;
  background: #ff6b00;
  border: none;
}

.stories-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 386px;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background-image: url(images/Mask-Group.png);
}

.stories-head {
  color: #fff;
  padding-left: 16px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.p-text {
  color: #fff;
  padding-left: 16px;
  width: 275px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-left: 16px;
}

.boxes {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.6rem 0.7rem;
  background: rgba(255, 255, 255, 0.3);
}

.project-button {
  background-color: #fc6703;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem;
  width: 300px;
}

/* about me section */
.about-me-container {
  margin-top: 132px;
  background-color: #1c1a19;
}

.mobile {
  background-image: url(images/Frame.png);
  background-repeat: no-repeat;
  background-position: 100% 90%;
  padding-left: 24px;
  border-bottom: 1px solid #fff;
  width: 80%;
  margin: auto;
}

.support-text {
  display: flex;
  flex-direction: column;
  width: 327px;
}

.about-h {
  font-family: "crete Round", sans-serif;
  font-size: 50px;
  font-weight: 400px;
  color: #ff6b00;
  width: 327px;
  height: 79px;
  padding-top: 120px;
  line-height: 88px;
  margin: auto;
}

.resume-button {
  width: 161px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  border: none;
  margin-bottom: 146px;
}

.vector-4 {
  margin-top: 221px;
  width: 80%;
}

.p-description {
  padding-top: 20px;
  width: 290px;
  height: 148px;
  margin-bottom: 24px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.language {
  display: flex;
  align-items: baseline;
}

.p-language {
  width: 257px;
  height: 24px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.language-list {
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  color: #fff;
}

.knowledge {
  width: 164px;
}

.framework {
  width: 227px;
}

.skills {
  width: 115px;
}

.frame {
  padding: 18px;
}

.big-container {
  margin-top: 3cm;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* contact me section */
.contact-me-header-text {
  width: 300px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-top: 120px;
  margin-left: 24px;
}

.no-border {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid gray;
  box-shadow: none;
  padding: 14px;
  width: 295px;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 10px;
}

.li-container {
  display: none;
}

.name {
  margin-top: 73px;
  width: 265px;
}

.email {
  width: 265px;
}

.msg {
  width: 295px;
  height: 114px;
  background-color: #fbf8f7;
}

.form-button {
  width: 131px;
  margin-top: 24px;
  background-color: #fc6703;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem;
  margin-left: 100px;
  margin-right: 122px;
}

.bottom-line {
  margin-top: 124px;
  width: 100%;
}

.bottom-link {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: #505f79;
  height: 40px;
  list-style: none;
}

@media (min-width: 375px) and (max-width: 550px) {
  header {
    background-color: #3c3a39;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    width: 100%;
  }

  .logo {
    width: 77px;
    height: 24px;
    display: flex;
    font-family: sans-serif, "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    margin-left: 15px;
  }

  .primary-nav {
    display: none;
  }

  .supporting-text {
    display: flex;
    flex-direction: column;
  }

  .image {
    padding-top: 18px;
    margin-right: 15px;
  }

  .headline {
    background: #1c1a19;
    background-image: url(images/illustration.png);
    background-repeat: no-repeat;
    background-position: 100% 110%;
    padding: 0 1.2rem 6rem 1.2rem;
  }

  .greeting {
    font-family: sans-serif, "Round";
    font-size: 50px;
    font-weight: 400px;
    color: #ff6b00;
    padding-top: 10px;
    padding-left: 20px;
    width: 320px;
    margin-bottom: 0;
    margin-top: 120px;
  }

  .introduction-text {
    width: 359px;
    height: 27px;
    font-family: sans-serif, "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #fff5e1;
    padding-left: 20px;
    margin-bottom: 0;
  }

  .description {
    width: 327px;
    height: 123px;
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
    color: #fff;
  }

  ul {
    list-style: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
    width: 200px;
    height: 40px;
    list-style: none;
  }

  .desktop-links {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  /* work-section */
  .container {
    display: grid;
    grid-template-columns: 327px;
    justify-content: center;
  }

  .recent-work-container {
    height: 3755px;
    background-color: #fff;
  }

  .first-project-container {
    display: grid;
    justify-content: center;
  }

  .recent-work {
    display: flex;
    flex-direction: column;
  }

  .recent-text {
    height: 83px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    margin: 6rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .line {
    width: 279px;
    border: 1px solid #212121;
  }

  .orange-image {
    display: flex;
    justify-content: center;
    width: 279px;
    height: 207px;
  }

  .desktop-orange-image {
    display: none;
  }

  h4 {
    color: #091e42;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 44px;
  }

  .text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    width: 280px;
  }

  .languages {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    padding: 0;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8993a4;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 0.6rem 0.7rem;
  }

  .recent-work-button {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #fff;
    width: 124px;
    height: 50px;
    background: #ff6b00;
    border: none;
  }

  .stories-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 386px;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    background-image: url(images/Mask-Group.png);
  }

  .stories-head {
    color: #fff;
    padding-left: 16px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
  }

  .p-text {
    color: #fff;
    padding-left: 16px;
    width: 275px;
    height: 87px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .boxes-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-left: 16px;
  }

  .boxes {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 0.6rem 0.7rem;
    background: rgba(255, 255, 255, 0.3);
  }

  .project-button {
    background-color: #fc6703;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    padding: 0.7rem;
    width: 327px;
  }

  /* about me section */
  .about-me-container {
    margin-top: 132px;
    background-color: #1c1a19;
  }

  .mobile {
    background-image: url(images/Frame.png);
    background-repeat: no-repeat;
    background-position: 100% 90%;
    padding-left: 24px;
  }

  .support-text {
    display: flex;
    flex-direction: column;
    width: 327px;
  }

  .about-h {
    font-family: "crete Round", sans-serif;
    font-size: 50px;
    font-weight: 400px;
    color: #ff6b00;
    width: 327px;
    height: 79px;
    padding-top: 120px;
    line-height: 88px;
    margin: auto;
  }

  .resume-button {
    width: 161px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #fff;
    background: #ff6b00;
    border: none;
  }

  .vector-4 {
    margin-top: 221px;
    width: 327px;
  }

  .p-description {
    padding-top: 20px;
    width: 327px;
    height: 148px;
    margin-bottom: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .language {
    display: flex;
    align-items: baseline;
  }

  .p-language {
    width: 257px;
    height: 24px;
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    color: #fff;
    padding: 20px;
  }

  .language-list {
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    color: #fff;
  }

  .knowledge {
    width: 164px;
  }

  .framework {
    width: 227px;
  }

  .skills {
    width: 115px;
  }

  .frame {
    padding: 18px;
  }

  .big-container {
    margin-top: 3cm;
    width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* contact me section */
  .contact-me-header-text {
    width: 327px;
    height: 216px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-top: 120px;
    margin-left: 24px;
  }

  .no-border {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    padding: 14px;
    width: 295px;
    outline: none;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 39px;
    padding: 0;
    padding-left: 24px;
    width: 295px;
  }

  .li-container {
    display: none;
  }

  .name {
    margin-top: 73px;
  }

  .msg {
    width: 327px;
    height: 114px;
    background-color: #fbf8f7;
  }

  .form-button {
    width: 131px;
    margin-top: 24px;
    background-color: #fc6703;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    padding: 0.7rem;
    margin-left: 122px;
    margin-right: 122px;
  }

  .bottom-line {
    margin-top: 124px;
    width: 100%;
  }

  .bottom-link {
    display: flex;
    flex-direction: row;
    gap: 21px;
    justify-content: center;
    color: #505f79;
    width: 327px;
    height: 40px;
    list-style: none;
  }
}

/* media queries */
@media (min-width: 550px) and (max-width: 900px) {
  .supporting-text {
    margin-left: 45px;
  }

  .links {
    margin-left: 45px;
  }

  .headline {
    background-image: url(images/Illustration.png);
    background-size: 200px;
    background-position: 100%;
  }

  .introduction-text {
    font-size: 30px;
  }

  .description {
    width: 500px;
    font-size: 20px;
  }

  /* work section */
  .first-project-container {
    display: grid;
    justify-content: center;
  }

  .recent-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line {
    width: 680px;
    height: 0;
  }

  .orange-image {
    display: none;
  }

  .desktop-orange-image {
    display: block;
    margin-left: 20px;
  }

  .orange-container {
    margin-left: 20px;
  }

  h4 {
    margin-top: 10px;
  }

  .text {
    width: 650px;
    font-size: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 369px 369px;
    justify-content: center;
    grid-gap: 30px;
  }

  .project-button {
    width: 369px;
  }

  .about-me {
    background-image: url(images/Frame.png);
    background-position: 100% 35%;
    background-size: 200px;
  }

  .about-h {
    font-size: 80px;
    width: 400px;
    padding-left: 40px;
  }

  .p-description {
    width: 500px;
    font-size: 18px;
    height: 100px;
    text-align: left;
    padding-left: 40px;
  }

  .resume-button {
    margin-top: 0;
    margin-left: 40px;
  }

  .vector-4 {
    width: 800px;
    height: 1px;
  }

  .big-container {
    margin-left: 25%;
  }

  /* contact me */

  .contact-me-container {
    display: grid;
    justify-content: center;
  }

  .contact-me-header-text {
    height: 100px;
    width: 700px;
  }

  .name {
    width: 650px;
  }

  .email {
    width: 650px;
  }

  .msg {
    width: 650px;
  }

  .form-button {
    margin-left: 40%;
  }

  .bottom-line {
    width: 100%;
  }

  .bottom-link {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 901px) and (max-width: 1080px) {
  .greeting {
    width: 800px;
  }

  .introduction-text {
    font-size: 30px;
    width: 800px;
  }

  .description {
    width: 800px;
    margin-bottom: 0;
  }

  .links {
    gap: 35px;
    padding-top: 0;
  }

  .headline {
    background-image: url(images/Illustration.png);
    background-size: 220px;
  }

  .recent-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line {
    width: 880px;
    height: 0;
  }

  .orange-image {
    display: none;
  }

  .desktop-orange-image {
    display: flex;
    justify-content: center;
  }

  .orange-container {
    margin-left: 20px;
  }

  h4 {
    margin-top: 10px;
  }

  .text {
    width: 650px;
    font-size: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 900px;
    margin-left: 20px;
  }

  .stories-head {
    margin-top: 180px;
  }

  .p-text {
    width: 900px;
  }

  .project-button {
    width: 900px;
  }

  .about-me {
    background-image: url(images/Frame.png);
    text-align: center;
  }

  .about-h {
    font-size: 80px;
    width: 400px;
    margin-left: 300px;
  }

  .p-description {
    width: 600px;
    font-size: 20px;
    margin-left: 200px;
    height: 100px;
    text-align: left;
  }

  .resume-button {
    margin-left: 200px;
    margin-top: 0;
  }

  .vector-4 {
    width: 900px;
    height: 1px;
  }

  .big-container {
    margin-left: 300px;
  }

  /* contact me */

  .contact-me-container {
    display: grid;
    justify-content: center;
  }

  .contact-me-header-text {
    height: 100px;
    width: 700px;
  }

  .name {
    width: 650px;
  }

  .email {
    width: 650px;
  }

  .msg {
    width: 650px;
  }

  .form-button {
    margin-left: 40%;
  }

  .bottom-line {
    width: 100%;
  }

  .bottom-link {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1080px) {
  /* headline section */
  body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  header {
    height: 72px;
    width: 100%;
  }

  .image {
    display: none;
  }

  .logo {
    margin-left: 154px;
    padding: 26px;
    font-size: 20px;
    animation: logo;
    animation-duration: 5s;
  }

  @keyframes logo {
    0% {
      margin-left: 100%;
    }

    100% {
      margin-left: 154px;
    }
  }

  a:hover {
    color: #f55800;
  }

  .primary-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    gap: 50px;
    margin-right: 151px;
    padding: 26px;
    font-size: 20px;
  }

  .msg-icon {
    width: 22px;
    height: 18px;
  }

  .headline {
    display: flex;
    background-color: #1c1a19;
    height: 650px;
    background-image: url(images/Illustration-header.png);
    background-position: 100%, 90%;
  }

  .links {
    display: none;
  }

  .desktop-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
    list-style: none;
  }

  .supporting-text {
    margin-left: 50px;
    margin-top: 70px;
  }

  .greeting {
    width: 500px;
    height: 160px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 5rem;
    line-height: 82px;
    color: #f55800;
  }

  .introduction-text {
    width: 566px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .description {
    width: 566px;
    height: 123px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 32px;
    color: #f4f5f7;
  }

  /* work section */
  .first-project-container {
    display: grid;
    justify-content: center;
  }

  .recent-text {
    display: flex;
    flex-direction: row;
    min-width: 1100px;
  }

  .line {
    margin-top: 30px;
    width: 794px;
    height: 0;
  }

  .recentworks {
    display: flex;
    flex-direction: row;
    width: 1000px;
    gap: 24px;
  }

  .orange-image {
    display: none;
  }

  .orange-container {
    height: 448px;
  }

  .recent-work-button:hover {
    transition: all ease-in;
    transition-duration: 0.5s;
    color: #f55800;
    background-color: #fff;
    border: 1px solid #f55800;
    box-shadow: 5px 5px 5px 5px #212121;
  }

  .desktop-orange-image {
    display: block;
  }

  .desktop {
    transition: all;
    transition-duration: 1s;
  }

  .desktop:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px lightslategray;
  }

  h4 {
    margin-top: 0;
  }

  .text {
    width: 448px;
    margin-bottom: 36px;
  }

  .languages {
    margin-bottom: 36px;
  }

  .container {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    grid-gap: 24px;
    justify-content: center;
  }

  .project-button {
    width: 369px;
    transition: all ease-in;
    transition-duration: 0.5s;
  }

  .project-button:hover {
    color: #f55800;
    background-color: #fff;
    border: 1px solid #f55800;
  }

  .stories-head {
    margin-top: 40px;
  }

  /* about me section */
  .about-me-container {
    background-image: url(images/Desktop-frame.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
  }

  .mobile {
    background: none;
  }

  .about-me {
    border-bottom: 1px solid #fff;
    width: 80%;
    margin: auto;
    margin-bottom: 146px;
  }

  .about-h {
    width: 566px;
    height: 78px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .p-description {
    width: 566px;
    height: 148px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .resume-button {
    margin-bottom: 221px;
    transition: all ease-in;
    transition-duration: 0.5s;
  }

  .resume-button:hover {
    color: #f55800;
    background-color: #fff;
  }

  .vector-4 {
    display: none;
  }

  .big-container {
    display: flex;
    flex-direction: row;
    gap: 176px;
    width: 1024px;
    margin: 115px;
    text-align: left;
  }

  .skills-container {
    height: 450px;
    margin-bottom: 142px;
  }

  .contact-me-container {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin-left: 135px;
    height: 590px;
  }

  .contact-me-header-text {
    text-align: left;
    font-size: 45px;
    line-height: 50px;
  }

  .name {
    display: none;
  }

  .li-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    gap: 30px;
    list-style: none;
  }

  .form {
    margin-top: 120px;
    list-style: none;
  }

  .email {
    width: 660px;
  }

  .msg {
    width: 684px;
    padding: 10px;
    font-size: 16px;
  }

  .form-button {
    margin-left: 21px;
  }

  .form-button:hover {
    transition: all ease-in;
    transition-duration: 0.5s;
    color: #f55800;
    border: 1px solid #f55800;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px #212121;
  }

  .bottom-line {
    width: 100%;
    height: 1px;
  }

  .bottom-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-slider {
    display: none;
  }
}
